/* Base Styles */
.navbar {
    width: 100%;
    color: #212EA0;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: transparent;
    transition: background 0.3s;
  }
  
  .logo {
    width: 150px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav-links li {
    margin: 5px 20px;
    font-size: 18px;
  }
  
  .dark-nav {
    background: white;
  }
  
  .btn1 {
    background: #212EA0;
    color: white;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 100px;
      right: 0;
      background: white;
      width: 100%;
      height: calc(100vh - 60px);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  
    .nav-links li {
      margin: 20px 0;
      font-size: 24px;
    }
  
    .menu-icon {
      display: block;
    }
  }
  